              /* Header */*{
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              }

              .navbar{
                background-color:#fff;
                width: 90%;
                margin: auto;
                height: 5.2rem;
                color: black;  
            }
            .nav-logo{
              display: flex;
              
            }
            .nav-logo a{
              text-decoration: none;
              color: black;
            }
            .nav-logo img{
                width: 10rem;
                height: 4rem;
                margin-right: 3rem;

            }
            .nav-items{
              display: flex;
              justify-content: space-between;
              align-items: center;
              font-weight: 600;
              padding: 14px;
            }
            
            
            
            
            .nav-links{
              display: flex;
              justify-content: center;
              gap: 2rem;
              align-items: center;
            }

            .nav-button{
              display: flex;
              align-items: center;
              gap: 2rem;
            }

            .nav-button a{
              text-decoration: none;
              color: rgba(0,0,0,0.6);
              font-weight: 400;
            }
            
            .nav-button button{
                padding: 0.7rem 1.2rem;
                border: none;
                color: white;
                background-color: green;
                cursor: pointer;
                font-weight: 700;
            }
            

                                        /* Body */

.body-container{
background-color: #18315B ;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
padding: 4rem;
}

.body-container h1{
font-size: 3.8rem;
}

.small-container{
width: 30%;
display: flex;
flex-direction: column;
align-items: center;
gap: 2rem;
}

.small-container p{
text-align: center;
font-size: 1.2rem;
}

.small-container button{
  padding: 0.9rem 1.5rem;
  border: none;
  color: white;
  background-color: green;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}


                                          /* Card */

.card-container{
    padding:5% 10%;
    width:80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.card-element{
    width:30%;
}
.card_upper{
    width:100%;
    text-align: center;
}
.card_upper img{
    width:50%;
    height:50%;
}
.card_upper p{
    font-weight: bold;
}

.card-desc{
  text-align: center;
  color: rgba(0,0,0,0.6);
}